/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* LAYOUT
/*******************************************/
body {
  background: url(https://media.self.com/photos/5d03c7c02ce42b4972311c0f/4:3/w_2560%2Cc_limit/professional-astrologer-update.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contain {
 background-color: #3c1647f0;
 border: 2px solid white;
 border-radius: 20px;
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
 font-weight: bold;
 color: white;
 padding: 5%;
 width: 35rem;
 margin: 0 auto;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1, p {
  text-align: center;
  margin: 0;
  padding: 1%;
}
h1 {
  text-shadow: -1px 0 rgb(203, 8, 241), 0 2px rgb(203, 8, 241), 2px 0 rgb(203, 8, 241), 0 -1px rgb(203, 8, 241);
}
.ymd {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
#astrology {
  font-size: 3rem;
}
#element::first-line, #planet::first-line, #compatibility::first-line, #strengths::first-line, #weaknesses::first-line {
   text-shadow: -1px 0 rgb(203, 8, 241), 0 2px rgb(203, 8, 241), 2px 0 rgb(203, 8, 241), 0 -1px rgb(203, 8, 241);
}
input {
 width: 12rem;
 margin-right: 1%;
}
#hide:nth-of-type(0) {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .contain {
    width: 100%;
    height: 100%;
  }
}